*.db
composer.lock
package-lock.json
node_modules
vendor
/bin
/locales/*~
/locales/loader.js
/pyritephp.js
/var/*.sql
/var/articles
/var/config.ini
/var/crashes.txt
/var/main.*
/var/sessions
/var/twig_cache
