{{ title('Administration') }}
{{ title('Roles') }}

{% if added or deleted %}
	{% if success %}
		{{ lib.alert(success, "Permission change successful.") }}
	{% else %}
		{{ lib.alert(success, "Permission change failed (perhaps a duplicate?)") }}
	{% endif %}
{% endif %}

<h2 class="page-header"><span class="glyphicon glyphicon-tags"></span> Roles</h2>

{% if pass('can', 'create', 'role') %}
<p>Note: The existence of roles is declared in your <code>config.ini</code> file in section <code>acl</code>.</p>
{% endif %}

{% if pass('can', 'edit', 'role') %}
<p>
	<form id="admin_role_acl_add" method="post" class="form-compact">
		<input type="hidden" name="f" value="add">
		<strong>New:</strong>
		<select data-label="Role" id="role" required>
			<option selected disabled>Role...
			{% for role in roles|keys %}
				<option>{{ role }}
			{% endfor %}
		</select>
		<select data-label="Action" id="action" required>
			<option selected disabled>Action...
			<option value="*">* Any action
			{% for action in actions %}
				<option>{{ action }}
			{% endfor %}
		</select>
		<select data-label="Object Type" id="objectType" required>
			<option selected disabled>Type...
			<option selected value="*">* Any type
			{% for objectType in objectTypes %}
				<option>{{ objectType }}
			{% endfor %}
		</select>
		<input data-label="Object ID" placeholder="Object ID" id="objectId">
		<button type="submit">Add</button>
	</form>
</p>
{% endif %}

{% if pass('can', 'view', 'role') %}
	{% set canEdit = pass('can', 'edit', 'role') %}
	<ul class="nav nav-tabs">
		{% set first = true %}
		{% for role in roles|keys %}
			<li{% if first %} class="active"{% endif %}><a href="#{{ role }}" data-toggle="tab" aria-expanded="{% if first %}true{% else %}false{% endif %}"><span class="glyphicon glyphicon-tag"></span> {{ role }}</a></li>
			{% set first = false %}
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% set first = true %}
		{% for role in roles|keys %}
			<div class="tab-pane{% if first %} active in{% endif %}" id="{{ role }}">
				<div class="table-responsive">
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>Action</th>
								<th>objectType</th>
								<th>objectId</th>
							</tr>
						</thead>
						<tbody>
							{% for right in roles[role] %}
							<tr>
								<td class="fit">
									{% if not canEdit or (role == 'admin' and right.action == '*') or (role == 'member' and right.action == 'login') %}
										&nbsp;
									{% else %}
										<form id="admin_role_acl_del" class="form-toolbar" method="post">
											<input type="hidden" name="f" value="del">
											<input type="hidden" name="role" value="{{ role }}">
											<input type="hidden" name="action" value="{{ right.action }}">
											<input type="hidden" name="objectType" value="{{ right.objectType }}">
											<input type="hidden" name="objectId" value="{{ right.objectId }}">
											<button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-remove"></span></button>
										</form>
									{% endif %}
								</td>
								<td class="fit">{% if right.action == '*' %}<em>any action</em>{% else %}{{ right.action }}{% endif %}</td>
								<td class="fit">{% if right.objectType == '*' %}<em>any type</em>{% else %}{{ right.objectType }}{% endif %}</td>
								<td>{% if right.objectId == 0 %}<em>all</em>{% else %}{{ right.objectId }}{% endif %}</td>
							</tr>
							{% endfor %}
							{% if roles[role]|length == 0 %}
								<tr><td colspan="4"><em>No special permissions</em></td></tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			{% set first = false %}
		{% endfor %}
	</div>

{% endif %}
