{{ title('Password Reset') }}
{% if inprogress %}

	{% if saved %}
		{% if success %}
			{{ lib.alert(success, "Thank you.  Your password has been updated.") }}
		{% else %}
			{{ lib.alert(success, "Sorry, your password could not be changed.") }}
		{% endif %}
	{% else %}
		{% if not valid %}
			{{ lib.alert(false, "Sorry, this password reset link is invalid or has expired.") }}
		{% else %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Password reset 2/2</h2>
				</div>
				<div class="panel-body">
					<form class="form-leftright" method="post" id="password_change">
						{{ filter('form_begin', 'password_change') |raw }}
						<input type="hidden" name="email" value="{{ email }}">
						<input type="hidden" name="onetime" value="{{ onetime }}">
						<input data-label="New password" type="password" id="newpassword1" minlength="8" maxlength="16">
						<input data-label="Repeat password" type="password" id="newpassword2" maxlength="16" placeholder="again, to confirm" data-parsley-equalto="#newpassword1" data-parsley-validate-if-empty>
						<button type="submit">Change password</button>
					</form>
				</div>
			</div>
		{% endif %}
	{% endif %}

{% else %}

	{% if emailed %}
		{{ lib.alert(true, "Thank you.  If you have an account here, you will receive instructions via e-mail shortly.") }}
	{% else %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Password reset 1/2</h2>
			</div>
			<div class="panel-body">
				<form class="form-leftright" method="post" id="password_reset">
					{{ filter('form_begin', 'password_reset') |raw }}
					<p>In order to reset your password, you need to validate your e-mail address.</p>
					<input data-label="E-Mail"          type="email"    id="email" placeholder="Your e-mail address identifies you here" maxlength="100" required>
					<button type="submit">E-mail me a confirmation link</button>
				</form>
			</div>
		</div>
	{% endif %}

{% endif %}
