{{ title('Register') }}
{% if created %}
	{% if success %}
		{{ lib.alert(success, "Please check your e-mail for instructions.") }}
	{% else %}
		{{ lib.alert(success, "An error occurred while attempting to create your account.") }}
	{% endif %}
{% else %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Sign up</h2>
		</div>
		<div class="panel-body">
			<form class="form-auto" method="post" id="registration">
				{{ filter('form_begin', 'registration') |raw }}
				<input data-label="E-Mail"          type="email"    id="email" placeholder="Your e-mail address identifies you here" maxlength="100" required>
				<input data-label="Name"            type="text"     id="name" minlength="3" maxlength="100" required>

				<div class="optional">
					<p>(Optional.) If you would prefer not to confirm your e-mail every time you sign in, define a password below.  You can then use it to sign in without any other confirmation.</p>
					<input data-label="Password"        type="password" id="password" minlength="8" maxlength="16">
					<input data-label="Repeat password" type="password" id="password2" data-parsley-equalto="#password" data-parsley-validate-if-empty>
				</div>

				<button type="submit">Confirm e-mail to create account</button>
			</form>
		</div>
	</div>

{% endif %}
