{{ title('Administration') }}
{{ title('Usagers') }}
<h2 class="page-header"><span class="glyphicon glyphicon-user"></span> Usagers</h2>

{% if pass('can', 'create', 'user') %}
<p>
Pour créer un nouvel usager, utilisez le même <a href="{{ req.base }}/register">formulaire d'inscription</a>.  Vous demeurerez connecté.  L'usager recevra une notice par courriel.
</p>
{% endif %}

{% if pass('can', 'view', 'user') %}
<h3>Liste</h3>
<form id="user_search" method="post" class="form-compact">
	<input data-label="Nom" placeholder="nom partiel" id="name" value="{{ req.post.name }}" minlength="3">
	<input data-label="Courriel" placeholder="courriel partiel" id="email" value="{{ req.post.email }}" minlength="3">
	<button type="submit">Chercher</button>
</form>

<div class="table-responsive">
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Usager</th>
				<th>Courriel</th>
				<th>Rôles</th>
				<th>Dernière visite</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			{% set roles = grab('user_roles', user.id) %}
			{% set login = grab('user_seen', user.id) %}
			<tr>
				<td class="fit">{{ lib.format_user(user) }}</td>
				<td class="fit">{{ lib.format_email(user.email) }}</td>
				<td class="fit">
					{% for role in roles %}
						{{ lib.format_role(role) }}
					{% endfor %}
				</td>
				<td>{{ lib.format_timestamp(login.localtimestamp) }}{% if login.ip %} depuis {{ lib.format_ip(login.ip) }}{% endif %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
