{{ title('Administration') }}
{{ title('Rôles') }}

{% if added or deleted %}
	{% if success %}
		{{ lib.alert(success, "Changement de permission réussi.") }}
	{% else %}
		{{ lib.alert(success, "Le changement de permission a échoué (peut-être un double?)") }}
	{% endif %}
{% endif %}

<h2>Rôles</h2>

<p>Note: l'existence des rôles est déclarée dans votre fichier <code>config.ini</code> à la section <code>acl</code>.</p>

<p>
	<form id="admin_role_acl_add" method="post" class="form-compact">
		<input type="hidden" name="f" value="add">
		<strong>Nouveau:</strong>
		<select data-label="Role" id="role" required>
			<option selected disabled>Rôle...
			{% for role in roles|keys %}
				<option>{{ role }}
			{% endfor %}
		</select>
		<select data-label="Action" id="action" required>
			<option selected disabled>Action...
			<option value="*">* Toute action
			{% for action in actions %}
				<option>{{ action }}
			{% endfor %}
		</select>
		<select data-label="Object Type" id="objectType" required>
			<option selected disabled>Type...
			<option selected value="*">* Tout type
			{% for objectType in objectTypes %}
				<option>{{ objectType }}
			{% endfor %}
		</select>
		<input data-label="Object ID" placeholder="Object ID" id="objectId">
		<button type="submit">Ajouter</button>
	</form>
</p>

{% for role in roles|keys %}
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ role }}
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Action</th>
							<th>objectType</th>
							<th>objectId</th>
						</tr>
					</thead>
					<tbody>
						{% for right in roles[role] %}
						<tr>
							<td class="fit">
								{% if (role == 'admin' and right.action == '*') or (role == 'member' and right.action == 'login') %}
									&nbsp;
								{% else %}
									<form id="admin_role_acl_del" class="form-toolbar" method="post">
										<input type="hidden" name="f" value="del">
										<input type="hidden" name="role" value="{{ role }}">
										<input type="hidden" name="action" value="{{ right.action }}">
										<input type="hidden" name="objectType" value="{{ right.objectType }}">
										<input type="hidden" name="objectId" value="{{ right.objectId }}">
										<button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-remove"></span></button>
									</form>
								{% endif %}
							</td>
							<td class="fit">{% if right.action == '*' %}<em>toute action</em>{% else %}{{ right.action }}{% endif %}</td>
							<td class="fit">{% if right.objectType == '*' %}<em>tout type</em>{% else %}{{ right.objectType }}{% endif %}</td>
							<td>{% if right.objectId == 0 %}<em>tous</em>{% else %}{{ right.objectId }}{% endif %}</td>
						</tr>
						{% endfor %}
						{% if roles[role]|length == 0 %}
							<tr><td colspan="4"><em>Aucune permission spéciale</em></td></tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endfor %}
