{{ title('Articles') }}
{% if article.id %}
	{{ title(article.title) }}
{% endif %}
{% if saved %}
	{% if success %}
		{{ lib.alert(success, "Sauvegarde réussie.") }}
	{% else %}
		{{ lib.alert(success, "Une erreur est survenue durant la tentative de sauvegarde.") }}
	{% endif %}
{% endif %}

{% if added or deleted %}
	{% if success %}
		{{ lib.alert(success, "Changement d'éditeurs réussi.") }}
	{% else %}
		{{ lib.alert(success, "Le changement d'éditeurs a échoué (peut-être un double?)") }}
	{% endif %}
{% endif %}

<h2 class="page-header"><span class="glyphicon glyphicon-align-left"></span> {{ article.title|default('Nouvel article') }} <span class="label label-default">{{ lib.format_status(article.status) }}</span></h2>

{% if article.id %}
	{% set issueId = article.issueId %}
{% else %}
	{% set issueId = req.post.issueId %}
{% endif %}

{% if pass('can', 'edit', 'article', article.id) or pass('can', 'edit', 'issue', article.issueId) or (pass('can', 'create', 'article') and not article.id) %}

	<form id="articles_edit" method="post" class="form-leftright">
		{{ filter('form_begin', 'articles_edit') |raw }}
		{% if article.id %}
			<input type="hidden" name="id" value="{{ article.id }}">
		{% endif %}
		<input data-label="Titre" type="text" id="title" value="{{ article.title }}" required>
		{% if pass('can', 'move', 'article', article.id) or not article.id %}
			<select data-label="Numéro" id="issueId" class="feedback-book" required>
				{% if not article.id %}
					<option selected disabled>Numéro...
				{% endif %}
				<option value="0"{% if article.id and issueId == 0 %} selected{% endif %}>Hors-série
				{% for issue in issues %}
					<option value="{{ issue.id }}"{% if issue.id == issueId %} selected{% endif %}>{{ issue.number }} {{ issue.title }}
				{% endfor %}
			</select>
		{% else %}
			<span data-label="Numéro" class="input-like">{{ lib.format_issue(article.issueId) }}</span>
		{% endif %}
		<input data-label="Nombre de mots" type="number" id="wordCount" value="{{ article.wordCount }}" required>
		<textarea data-label="Mots-clefs" id="keywords">{{ article.keywords }}</textarea>
		<textarea data-label="Résumé" id="abstract">{{ article.abstract }}</textarea>
		{% if pass('can', 'move', 'article', article.id) or pass('can', 'move', 'article', article.issueId) %}
			{{ lib.select_users('Auteurs', 'author', article.authors) }}
			{{ lib.select_users('Critiques', 'peer', article.peers) }}
		{% else %}
			<span data-label="Auteurs" class="input-like">
				{% for author in article.authors %}
					{{ lib.format_user(author) }}
				{% endfor %}
			</span>
		{% endif %}
		<button type="submit"><span class="fg-ok"><span class="glyphicon glyphicon-ok"></span></span> Sauvegarder changements</button>
	</form>

	{% if article.id %}
		<form id="articles_file" method="post" class="form-leftright" enctype="multipart/form-data">
			{{ filter('form_begin', 'articles_file') |raw }}
			<input type="hidden" name="id" value="{{ article.id }}">
			<span data-label="Fichiers" class="input-like">
				{% for file in article.files %}
					<a href="/=bin/articles/{{ article.id }}/{{ file.name }}" target="_blank"><span class="glyphicon glyphicon-file"></span>{{ file.name }}</a> ({{ lib.format_bytes(file.bytes) }})<br>
				{% endfor %}
				{{ lib.input_file('addfiles', 'xs') }}
			</span>
		</form>
	{% endif %}

	{% if article.id %}

		{% if pass('can', 'move', 'article', article.id) or pass('can', 'move', 'issue', article.issueId) %}
			<h3>Historique</h3>
			{% include 'history.html' %}
		{% endif %}

	{% endif %}

{% elseif article.id and (pass('can', 'view', 'article', article.id) or pass('can', 'view', 'issue', article.issueId)) %}

	<dl class="dl-horizontal">
		<dt>Numéro</dt><dd>{{ lib.format_issue(article.issueId) }}</dd>
		<dt>Nombre de mots</dt><dd>{{ article.wordCount }}</dd>
		<dt>Mots-clefs</dt><dd>{{ article.keywords }}</dd>
		<dt>Résumé</dt><dd>{{ article.abstract }}</dd>
		<dt>Auteurs</dt><dd>
			{% for author in article.authors %}
				{{ lib.format_user(author) }}
			{% endfor %}
		</dd>
	</dl>

	<p>TODO: display read-only files</p>

{% endif %}
