{{ title('Tableau de bord') }}
<h2 class="page-header"><span class="glyphicon glyphicon-home"></span> Tableau de bord</h2>

<div class="row">
	{#
	{{ lib.counter('globe', 'primary', 26, 'Nouveaux examples!', '#') }}
	{{ lib.counter('tint', 'green', 12, 'Nouveaux examples!', '#') }}
	{{ lib.counter('envelope', 'yellow', 124, 'Cadeaux!', '#') }}
	{{ lib.counter('calendar', 'red', 13, 'Nouveaux examples!', '#') }}
	#}
</div>

<div class="row">
	<div class="col-lg-7">

		<!-- Articles Panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-align-left"></span> Articles
			</div>
			<div class="panel-body">
				{% include 'articles_list.html' %}
			</div>
		</div>
		<!-- /Articles Panel -->

	</div>
	<div class="col-lg-5">

		<!-- Recent Activity Panel -->
		<div class="panel panel-warning">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-list"></span> Activités récentes
			</div>
			<div class="panel-body">
				{% include 'history.html' with {'history': recentHistory, 'narrow': true} %}
			</div>
		</div>
		<!-- /Recent Activity Panel -->

		{#
		<!-- Example Right Panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-question-sign"></span> Exemple de droite
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down"></span></button>
					<ul class="dropdown-menu slidedown">
						<li><a href="#">ICON Texte d'action</a></li>
						<li><a href="#">ICON Texte d'action</a></li>
						<li class="divider"></li>
						<li><a href="#">ICON Texte d'action</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-body">
				<p>Zone de contenu</p>
			</div>
		</div>
		<!-- /Example Right Panel -->
		#}

	</div>
</div>
