<div class="table-responsive">
	<table class="table table-hover table-condensed">
		<tbody>
			{% for tx in history %}
			<tr{% if tx.objectType == 'user' and tx.action == 'modified' and (tx.fieldName=='email' or tx.fieldName=='password') %} class="warning"{% endif %}>
				<td>
					{% if tx.userId == session.user.id %}
						J'ai
					{% else %}
						{{ lib.format('user', tx.userId) }} a
					{% endif %}

					{% if tx.action == 'modified' %}
						{% if tx.fieldName %}
							changé {{ tx.fieldName }}
							{% if tx.oldValue %}de '{{ lib.format(tx.fieldName, tx.oldValue) }}'{% endif %}
							{% if tx.newValue %}à '{{ lib.format(tx.fieldName, tx.newValue) }}'{% endif %}
						{% else %}
							modifié
							{{ lib.format(tx.objectType, tx.objectId) }}
						{% endif %}

					{% elseif tx.action == 'login' %}
						connecté

					{% elseif tx.action == 'created' %}
						créé
						{{ lib.format(tx.objectType, tx.objectId) }}

					{% else %}
						{{ tx.action }}
						{{ tx.fieldName }}
						{% if tx.oldValue %}from '{{ lib.format(tx.fieldName, tx.oldValue) }}'{% endif %}
						{% if tx.newValue %}to '{{ lib.format(tx.fieldName, tx.newValue) }}'{% endif %}
					{% endif %}
				</td>
				<td class="fit">
					{%- if narrow -%}
						<span class="text-muted small">{{ lib.format_timestamp(tx.localtimestamp) }}</span>
					{%- else -%}
						{{ lib.format_timestamp(tx.localtimestamp) }} depuis {{ lib.format_ip(tx.ip) }}
					{%- endif -%}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>





