{{ title('Numéros') }}
{% if saved %}
	{% if success %}
		{{ lib.alert(success, "Sauvegarde réussie.") }}
	{% else %}
		{{ lib.alert(success, "Une erreur est survenue durant la tentative de sauvegarde.  Lors d'une création, notez qu'il est impossible de dupliquer un même numéro ou une même date de publication.") }}
	{% endif %}
{% endif %}

{% if added or deleted %}
	{% if success %}
		{{ lib.alert(success, "Changement d'éditeurs réussi.") }}
	{% else %}
		{{ lib.alert(success, "Le changement d'éditeurs a échoué (peut-être un double?)") }}
	{% endif %}
{% endif %}

<h2 class="page-header"><span class="glyphicon glyphicon-book"></span> {{ issue.number }}
	{% if issue %}
		{{ issue.title|default('Hors série') }}
	{% else %}
		Nouveau numéro
	{% endif %}
	<small>{{ issue.publication }}</small>
</h2>

{% if (issue and issue.id > 0 and pass('can', 'edit', 'issue', issue.id)) or (not issue and pass('can', 'create', 'issue')) %}

	<form id="issues_edit" method="post" class="form-tight">
		{{ filter('form_begin', 'issues_edit') |raw }}
		{% if issue.id %}
			<input type="hidden" name="id" value="{{ issue.id }}">
		{% endif %}
		<div class="form-group">
			<input data-colsize="2" data-label="Numéro" type="text" id="number" value="{{ issue.number }}" required maxlength="16">
			<input data-colsize="3" data-label="Publication (AAAA-MM-JJ)" type="text" id="publication" value="{{ issue.publication }}" maxlength="10" minlength="10">
			<input data-colsize="7" data-label="Titre" type="text" id="title" value="{{ issue.title }}" required>
		</div>
		<div class="form-group">
			{{ lib.select_users('Éditeurs', 'editor', issue.editors) }}
		</div>
		{{ lib.leftright_save(issue and issue.id > 0) }}
	</form>

	{% if issue and issue.id > 0 %}

		<h3>Historique</h3>
		{% include 'history.html' %}

	{% endif %}

{% endif %}

{% if issue %}
	<h3>Articles</h3>

	{% if pass('can', 'create', 'article') %}
		<div>
			<form action="{{ req.base }}/articles/new" id="article_create" method="get" class="form-inline">
				<input type="hidden" name="issueId" value="{{ issue.id }}">
				<button class="btn btn-default" type="submit"><span class="fg-ok"><span class="glyphicon glyphicon-plus"></span></span> Créer</button>
			</form>
		</div>
	{% endif %}

	{% include 'articles_list.html' %}
{% endif %}
