{{ title('Réinitialisation de mot de passe') }}
{% if inprogress %}

	{% if saved %}
		{% if success %}
			{{ lib.alert(success, "Merci.  Votre mot de passe a été mis à jour.") }}
		{% else %}
			{{ lib.alert(success, "Désolé, votre mot de passe n'a pas pu être modifié.") }}
		{% endif %}
	{% else %}
		{% if not valid %}
			{{ lib.alert(false, "Désolé, ce lien de réinitialisation de mot de passe est expiré ou invalide.") }}
		{% else %}
			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>Réinitialisation de mot de passe 2/2</h2>
					</div>
					<div class="panel-body">
						<form class="form-leftright" method="post" id="password_change">
							{{ filter('form_begin', 'password_change') |raw }}
							<input type="hidden" name="email" value="{{ email }}">
							<input type="hidden" name="onetime" value="{{ onetime }}">
							<input data-label="Nouveau mot de passe" type="password" id="newpassword1" minlength="8" maxlength="16">
							<input data-label="Répéter mot de passe" type="password" id="newpassword2" maxlength="16" placeholder="encore, pour confirmer" data-parsley-equalto="#newpassword1" data-parsley-validate-if-empty>
							<button type="submit">Changer mot de passe</button>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

{% else %}

	{% if emailed %}
		{{ lib.alert(true, "Merci.  Si vous avez un compte ici, vous recevrez des instructions par courriel sous peu.") }}
	{% else %}
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Réinitialisation de mot de passe 1/2</h2>
				</div>
				<div class="panel-body">
					<form class="form-leftright" method="post" id="password_reset">
						{{ filter('form_begin', 'password_reset') |raw }}
						<p>Pour réinitialiser votre mot de passe, vous devez valider votre adresse de courriel.</p>
						<input data-label="Courriel" type="email" id="email" placeholder="Votre courriel vous identifie ici" maxlength="100" required>
						<button type="submit">Envoyer courriel de confirmation</button>
					</form>
				</div>
			</div>
		</div>
	{% endif %}

{% endif %}
