{{ title('Inscription') }}
{% if created %}
	{% if success %}
		{{ lib.alert(success, "Veuillez attendre notre courriel d'instructions.") }}
	{% else %}
		{{ lib.alert(success, "Une erreur est survenue en tentant de créer votre compte.") }}
	{% endif %}
{% else %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Inscription</h2>
		</div>
		<div class="panel-body">
			<form class="form-tight" method="post" id="registration">
				{{ filter('form_begin', 'registration') |raw }}
				<div class="form-group">
					<input data-label="Courriel" type="email" id="email" placeholder="Votre courriel vous identifie ici" maxlength="100" required>
				</div>
				<div class="form-group">
					<input data-colsize="9" data-label="Nom" type="text" id="name" minlength="3" maxlength="100" required>
					<select data-colsize="3" data-label="Genre" name="isMale" required>
						<option selected disabled>Genre...</option>
						<option value="0">Femme</option>
						<option value="1">Homme</option>
					</select>
				</div>
				<div class="form-group">
					<input data-label="Titre professionnel" type="text" id="profession" minlength="3" maxlength="100" required>
					<input data-label="Employeur"           type="text" id="employer" minlength="3" maxlength="100">
				</div>

				<div class="optional">
					<p>(Facultatif.)  Si vous ne voulez pas confirmer votre courriel à chaque connexion, définissez un mot de passe ci-dessous.  Vous pourrez ensuite l'utiliser pour vous connecter sans autre confirmation.</p>
					<div class="form-group">
						<input data-label="Mot de passe"    type="password" id="password" minlength="8" maxlength="16">
						<input data-label="Répéter mot de passe" type="password" id="password2" data-parsley-equalto="#password" data-parsley-validate-if-empty>
					</div>
				</div>

				<button type="submit">Confirmer courriel pour créer le compte</button>
			</form>
		</div>
	</div>

{% endif %}
