{% import 'lib' as lib %}
<div class="table-responsive">
	<table class="table table-condensed">
		{% for status in config.articles.states %}
			{% if articles[status] |length > 0 %}
				<tbody class="spaced">
					<tr class="table-section panel-info"><td colspan="2" class="panel-heading">{{ lib.format_status(status) }}</td></tr>
					{% for article in articles[status] %}
						<tr>
							<td class="fit">{{ article.volume ? article.volume~'.' : '' }}{{ article.number |default(__('issue_zero')) }}</td>
							<td>{{ lib.format_article(article) }}</td>
						</tr>
					{% endfor %}
				</tbody>
			{% endif %}
		{% endfor %}
	</table>
</div>
