{% import 'lib' as lib %}
{{ title(__('title_articles')) }}
{% if article.id %}
	{{ title(article.title) }}
{% endif %}

{% if uploaded %}
	{% if file_success %}
		{{ lib.alert(file_success, __('save_success')) }}
	{% elseif bad_format %}
		{{ lib.alert(file_success, __('error_fileformat')) }}
	{% else %}
		{{ lib.alert(file_success, __('save_failure')) }}
	{% endif %}
{% elseif saved %}
	{% if success %}
		{{ lib.alert(success, __('save_success')) }}
	{% else %}
		{{ lib.alert(success, __('save_failure')) }}
	{% endif %}
{% endif %}

<h2 class="page-header">
	<span class="glyphicon glyphicon-align-left"></span>
	{{ article.title|default(__('title_newarticle')) }}
	{% if article.id %}
		<span class="label label-default">{{ lib.format_status(article.status) }}</span>
	{% endif %}
</h2>

{% if article.id %}
	{% set issueId = article.issueId %}
{% else %}
	{% set issueId = req.get.issueId %}
{% endif %}

{% if pass('can', 'edit', 'article', article.id) or pass('can', 'edit', 'issue', article.issueId) or (pass('can', 'create', 'article') and not article.id) %}

	<div class="modal" id="myModal" data-appends="#articles_edit" data-append-base="userdata" data-append-key="email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-vertical">
			<div class="modal-dialog modal-middle" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span> <span class="text"></span></h4>
					</div>
					<div class="modal-body">
						{% include 'user_edit.html' with {'modal': true} %}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"><span class="fg-ok"><span class="glyphicon glyphicon-plus"></span></span> {{ __('label_add') }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form id="articles_edit" method="post" class="form-leftright" enctype="multipart/form-data">
		{{ filter('form_begin', 'articles_edit') |raw }}
		{% if article.id %}
			<input type="hidden" name="id" value="{{ article.id }}">
		{% endif %}

		{% if pass('can', 'move', 'article', article.id) and article.id %}
			<div data-label="{{ __('label_status') }}" class="btn-group input-like" data-toggle="buttons">
				<label class="btn btn-default btn-sm active">
					<input type="radio" name="status" autocomplete="off" value="{{ article.status }}" checked>
					{{ lib.format_status(article.status) }}
				</label>
				<span class="btn btn-default btn-sm active disabled"><span class="glyphicon glyphicon-arrow-right"></span></span>
				{% for status in config.articles.states_next[article.status]|split(' ') %}
					<label class="btn btn-default btn-sm">
						<input type="radio" name="status" autocomplete="off" value="{{ status }}">
						{{ lib.format_status(status) }}
					</label>
				{% endfor %}
			</div>
		{% endif %}

		<input data-label="{{ __('label_title') }}" type="text" id="title" value="{{ article.title }}" required>
		{% if pass('can', 'move', 'article', article.id) or not article.id %}
			<select data-label="{{ __('label_issueId') }}" id="issueId" class="feedback-book" required>
				{% if not article.id %}
					<option selected disabled>{{ __('label_issueId') }}...
				{% endif %}
				<option value="0"{% if article.id and issueId == 0 %} selected{% endif %}>{{ __('issue_zero') }}
				{% for issue in issues %}
					<option value="{{ issue.id }}"{% if issue.id == issueId %} selected{% endif %}>{{ issue.volume ? issue.volume~'.' : '' }}{{ issue.number }} {{ issue.title }}
				{% endfor %}
			</select>
		{% else %}
			<span data-label="{{ __('label_issueId') }}" class="input-like">{{ lib.format_issue(article.issueId) }}</span>
		{% endif %}
		<input data-label="{{ __('label_wordcount') }}" type="number" id="wordCount" value="{{ article.wordCount }}" required>
		<input type="hidden" name="__arrays[]" value="keywords">
		<select data-label="{{ __('label_keywords') }}" id="keywords[]" placeholder="{{ __('hint_keywords') }}" class="keywords feedback-tags" multiple>
			{% for keyword in article.keywords %}
				<option selected>{{ keyword }}
			{% endfor %}
		</select>
		<textarea data-label="{{ __('label_abstract') }}" id="abstract">{{ article.abstract }}</textarea>
		{% if pass('can', 'move', 'article', article.id) or pass('can', 'move', 'issue', article.issueId) %}
			{{ lib.select_users(__('label_authors'), 'author', article.authors) }}
			{% if session.user.id not in article.authors %}
				{{ lib.select_users(__('label_peers'), 'peer', article.peers) }}
			{% endif %}
		{% elseif article.id %}
			<span data-label="{{ __('label_authors') }}" class="input-like">
				{% for author in article.authors %}
					{{ lib.format_user(author) }}
				{% endfor %}
				&nbsp;
			</span>
		{% else %}
			<input type="hidden" name="authors[]" value="{{ session.user.id }}">
		{% endif %}
		<div data-label="{{ __('label_files') }}" class="input-like" id="file-list">
			{% set vid = 1 %}
			{% for version in article.versions %}
				<a class="list-group-item small" data-toggle="collapse" data-target="#version-{{ version.id }}" data-parent="#file-list"><strong>{{ __('label_version') }} {{ vid }}</strong> <em>{{ lib.format_timestamp(version.localcreated) }}</em></a>
				<div id="version-{{ version.id }}" class="collapse{{ loop.last ? ' in' : '' }}">
					{% for file in version.files %}
						{% if pass('can', 'delete', 'article', article.id) %}
							<a href="{{ req.base }}/articles/{{ article.id }}/{{ file.name }}?unlink=1&amp;version={{ version.id }}"><span class="fg-err"><span class="glyphicon glyphicon-minus"></span></span></a>
						{% endif %}
						<a href="/=bin/articles/{{ article.id }}/{{ file.name }}" target="_blank"><span class="glyphicon glyphicon-file"></span>{{ file.name }}</a> ({{ lib.format_bytes(file.bytes) }})<br>
					{% endfor %}
				</div>
				{% set vid = vid + 1 %}
			{% endfor %}
			{% if article.versions|length > 0 %}
				<a class="list-group-item small"><strong>{{ __('label_new_version') }}:</strong></a>
			{% endif %}
			{{ lib.input_files('addfile', 'xs') }}
		</div>
		{{ lib.leftright_save(article.id) }}
	</form>


	{% if article.id %}

		{% if pass('can', 'move', 'article', article.id) or pass('can', 'move', 'issue', article.issueId) %}
			<h3>{{ __('title_history') }}</h3>
			{% include 'history.html' %}
		{% endif %}

	{% endif %}

{% elseif article.id and (pass('can', 'view', 'article', article.id) or pass('can', 'review', 'article', article.id) or pass('can', 'view', 'issue', article.issueId)) %}

	<dl class="dl-horizontal">
		<dt>{{ __('label_issueId') }}</dt><dd>{{ lib.format_issue(article.issueId) }}</dd>
		<dt>{{ __('label_wordCount') }}</dt><dd>{{ article.wordCount }}</dd>
		<dt>{{ __('label_keywords') }}</dt><dd>{{ article.keywords |join(', ') }}</dd>
		<dt>{{ __('label_abstract') }}</dt><dd>{{ article.abstract }}</dd>
		<dt>{{ __('label_authors') }}</dt><dd>
			{% for author in article.authors %}
				{{ lib.format_user(author) }}
			{% endfor %}
		</dd>
		<dt>{{ __('label_files') }}</td><dd>
			{% for file in article.files %}
				<a href="/=bin/articles/{{ article.id }}/{{ file.name }}" target="_blank"><span class="glyphicon glyphicon-file"></span>{{ file.name }}</a> ({{ lib.format_bytes(file.bytes) }})<br>
			{% endfor %}
		</dd>
	</dl>

{% endif %}
