{{ title(__('title_articles')) }}
<h2 class="page-header"><span class="glyphicon glyphicon-align-left"></span> {{ __('title_articles') }}</h2>

{% include 'review_list.html' %}

{% if articles|length == 0 %}
	{% exit %}
{% endif %}

<div class="row spaced">
	<form id="article_search" method="post" class="form-inline col-sm-6">
		{{ filter('form_begin', 'article_search') |raw }}
		<div class="input-group">
			<input class="form-control" placeholder="{{ __('label_keyword') }}..." name="keyword" value="{{ req.post.keyword }}" minlength="3">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</div>
	</form>
	{% if pass('can', 'create', 'article') %}
		<form action="{{ req.base }}/articles/new" id="article_create" method="post" class="form-inline col-sm-6">
			<button class="btn btn-default" type="submit"><span class="fg-ok"><span class="glyphicon glyphicon-plus"></span></span> {{ __('label_create') }}</button>
		</form>
	{% endif %}
</div>

{% if req.get.filter %}
	<h3>
		{% if req.get.filter == 'noreviews' %}
			{{ __('title_no_reviews') }}
		{% elseif req.get.filter == 'miapeers' %}
			{{ __('title_mia_peers') }}
		{% elseif req.get.filter == 'latereviews' %}
			{{ __('title_late_reviews') }}
		{% endif %}
	</h3>
{% endif %}


{% include 'articles_list.html' %}
