{% import 'lib' as lib %}
{{ title(__('title_dashboard')) }}
<h2 class="page-header"><span class="glyphicon glyphicon-home"></span> {{ __('title_dashboard') }}</h2>

{% if pass('can', 'delete', 'article') %}
	<div class="row">
		{% if noreviews|length > 0 %}
			{{ lib.counter('align-left', 'red', noreviews|length, __('title_no_reviews'), req.base~'/articles?filter=noreviews') }}
		{% endif %}
		{% if miapeers|length > 0 %}
			{{ lib.counter('eye-close', 'orange', miapeers|length, __('title_mia_peers'), req.base~'/articles?filter=miapeers') }}
		{% endif %}
		{% if latereviews|length > 0 %}
			{{ lib.counter('eye-open', 'orange', latereviews|length, __('title_late_reviews'), req.base~'/articles?filter=latereviews') }}
		{% endif %}
	</div>
{% endif %}

<div class="row">
	<div class="col-lg-7">

		{% if session.outbox and session.outbox|length > 0 %}
			<!-- Outbox Panel -->
			<div class="panel panel-danger">
				<div class="panel-heading">
					<a href="{{ req.base }}/outbox"><span class="glyphicon glyphicon-envelope"></span> {{ __('title_outbox') }}</a>
				</div>
				<div class="panel-body">
					{% include 'outbox_list.html' with {'emails': session.outbox} %}
				</div>
			</div>
			<!-- /Outbox Panel -->
		{% endif %}

		{% if reviews|length > 0 %}
			<!-- Reviews Panel -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-eye-open"></span> {{ __('title_reviews') }}
				</div>
				<div class="panel-body">
					{% include 'review_list.html' %}
				</div>
			</div>
			<!-- /Reviews Panel -->
		{% endif %}

		{% if articles|length > 0 or pass('has_role', 'author') %}
			<!-- Articles Panel -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-align-left"></span> {{ __('title_articles') }}
					{% if pass('can_create_article') %}
						<div class="pull-right">
							<form action="{{ req.base }}/articles/new" id="article_create" method="get" class="form-inline">
								<button class="btn btn-default btn-xs" type="submit"><span class="fg-ok"><span class="glyphicon glyphicon-plus"></span></span> {{ __('label_create') }}</button>
							</form>
						</div>
					{% endif %}
				</div>
				<div class="panel-body">
					{% include 'articles_list.html' %}
				</div>
			</div>
			<!-- /Articles Panel -->
		{% endif %}

	</div>
	<div class="col-lg-5">

		<!-- Recent Activity Panel -->
		<div class="panel panel-warning">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-list"></span> {{ __('title_recent') }}
			</div>
			<div class="panel-body">
				{% include 'history.html' with {'history': recentHistory, 'narrow': true} %}
			</div>
		</div>
		<!-- /Recent Activity Panel -->

	</div>
</div>
