{% import 'lib' as lib %}
<div class="table-responsive">
	<table class="table table-hover table-condensed">
		<tbody>
			{% for tx in history %}
		{% if loop.first or tx.timestamp != lastTime %}
			<tr{% if tx.objectType == 'user' and tx.action == 'modified' and (tx.fieldName=='email' or tx.fieldName=='password') %} class="warning"{% endif %}>
				<td>
		{% endif %}
					<div class="log-part">
					{% if tx.userId == session.user.id %}
						{{ __('label_i') }}
					{% else %}
						{{ lib.format('user', tx.userId) }}
						{{ __('label_has') }}
					{% endif %}

					{% if tx.action == 'modified' %}
						{% if tx.fieldName == 'status' %}
							{{ lib.format(tx.fieldName, tx.newValue) }}
							{% if history_type != tx.objectType or history_id != tx.objectId %}
								{{ lib.format(tx.objectType, tx.objectId) }}
							{% endif %}
						{% elseif tx.fieldName %}
							{{ __('label_changed') }}
							<code>{{ lib.label_field(tx.fieldName) }}</code>
							{% if tx.oldValue %}{{ __('label_from') }} <em>"{{ lib.format(tx.fieldName, tx.oldValue) |truncate(64, true) }}"</em>{% endif %}
							{% if tx.newValue %}{{ __('label_to') }} <em>"{{ lib.format(tx.fieldName, tx.newValue) |truncate(64, true) }}"</em>{% endif %}
							{% if history_type != tx.objectType or history_id != tx.objectId %}
								{{ __('label_in') }}
								{{ lib.format(tx.objectType, tx.objectId) }}
							{% endif %}
						{% else %}
							{{ __('label_modified') }}
							{{ lib.format(tx.objectType, tx.objectId) }}
						{% endif %}

					{% elseif tx.action == 'login' %}
						{{ __('label_logged_in') }}

					{% elseif tx.action == 'created' %}
						{{ __('label_created') }}
						{% if not (tx.objectType == 'user' and tx.objectId == tx.userId) %}
							{{ lib.format(tx.objectType, tx.objectId) }}
						{% endif %}

					{% elseif tx.action == 'attached' %}
						{{ __('label_attached') }}
						<span class="glyphicon glyphicon-file"></span>{{ tx.newValue }}
						{% if history_type != tx.objectType or history_id != tx.objectId %}
							{{ __('label_to') }}
							{{ lib.format(tx.objectType, tx.objectId) }}
						{% endif %}

					{% elseif tx.action == 'sent' %}
						{% set email = grab('outbox_email', tx.objectId) %}
						{{ __('label_sent') }}
						<u><span class="glyphicon glyphicon-envelope"></span>{{ email.subject |truncate(64, true) }}</u>
						{{ __('label_to') }}
						{{ lib.format_users(email.recipients) }}
						{{ lib.format_users(email.ccs) }}
						<!-- Bcc excluded on purpose -->
						{% if email.html %}
							<div class="log-content">{{ filter('html_to_text', email.html) |truncate(400, true) }}</div>
						{% endif %}

					{% elseif tx.action == 'activated' or tx.action == 'deactivated' %}
						{# Help gettext's msgmerge: __('label_activated') __('label_deactivated') #}
						{{ __('label_'~tx.action) }}
						{{ lib.format(tx.objectType, tx.objectId) }}

					{% else %}
						{{ tx.action }}
						{{ tx.fieldName }}
						{% if tx.oldValue %}{{ __('label_from') }} '{{ lib.format(tx.fieldName, tx.oldValue) }}'{% endif %}
						{% if tx.newValue %}{{ __('label_to') }} '{{ lib.format(tx.fieldName, tx.newValue) }}'{% endif %}
					{% endif %}
					{% if tx.content and not narrow %}
						<div class="log-content">{{ tx.content }}</div>
					{% endif %}
				</div>
		{% if loop.last or tx.timestamp != history[loop.index].timestamp %}
				</td>
				<td class="text-right fit">
					{%- if narrow -%}
						<span class="text-muted small">{{ lib.format_timestamp(tx.localtimestamp) }}</span>
					{%- else -%}
						{{ lib.format_timestamp(tx.localtimestamp) }} {{ __('label_from_ip') }} {{ lib.format_ip(tx.ip) }}
					{%- endif -%}
				</td>
			</tr>
		{% endif %}
		{% set lastTime = tx.timestamp %}
			{% endfor %}
		</tbody>
	</table>
</div>
