{% use 'blocks.html' %}

{% block head %}
<!DOCTYPE html>
<html lang="{{ req.lang }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta id="appname" name="apple-mobile-web-app-title" content="{{ config.global.name }}">
		<link rel="stylesheet" href="/client.css?CSSBUILDNUM=1509471260348343569" type="text/css">
		<script src="/client.js?JSBUILDNUM=1533841980178557429" type="text/javascript"> </script>
{% endblock %}


{% block body %}
	{% import 'lib' as lib %}
		{% if req.redirect %}
			<meta http-equiv="refresh" content="{% if config.global.debug %}5{% else %}0{% endif %}; url={{ req.redirect }}">
		{% endif %}
		<title>{{ title }}</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">{{ __('label_navigation') }}</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						{% if pass('can', 'edit', 'email') and session.outbox|length > 0 %}
							<span class="badge badge-hamburger">{{ session.outbox|length }}</span>
						{% endif %}
					</button>
					<a class="navbar-brand" href="{{ req.base }}/">{{ config.global.name }}</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li{% if req.path_args[0] == 'about' %} class="active"{% endif %}><a href="{{ req.base }}/page/about">{{ __('title_about') }}</a></li>
						<li{% if req.path_args[0] == 'contacts' %} class="active"{% endif %}><a href="{{ req.base }}/page/contacts">{{ __('title_contacts') }}</a></li>
						<li{% if req.path_args[0] == 'instructions' %} class="active"{% endif %}><a href="{{ req.base }}/page/instructions">{{ __('title_instructions') }}</a></li>
					</ul>
					{% if session.identified %}
					<ul class="nav navbar-nav navbar-right">
						{% if pass('has_role', 'admin') or (pass('can', 'edit', 'email') and session.outbox|length > 0) %}
							<li class="dropdown">
								<a href="{{ req.base }}/outbox" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-envelope"></span>{% if session.outbox|length > 0 %}<span class="badge badge-subscript">{{ session.outbox|length }}</span>{% endif %} <span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-messages">
									{% for email in session.outbox %}
										<li>
											<a href="{{ req.base }}/outbox/{{ email.id }}">
												<div>
													<strong>{{ lib.format_user(email.recipients[0], true) }}</strong>
													<span class="pull-right text-muted">
														<em>{{ lib.format_timestamp(email.localmodified) }}</em>
													</span>
												</div>
												<div>{{ email.subject }}</div>
											</a>
										</li>
										<li class="divider"></li>
									{% endfor %}
									<li>
										<a class="text-center" href="{{ req.base }}/outbox">
											<strong>{{ __('title_outbox') }}</strong>
											<span class="glyphicon glyphicon-chevron-right"></span>
										</a>
									</li>
								</ul>
							</li>
						{% endif %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session.user.name }} <span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">{{ session.user.email }}</li>
								<li><a href="{{ req.base }}/user/prefs"><span class="glyphicon glyphicon-cog"></span> {{ __('title_prefs') }}</a></li>
								<li><a href="{{ req.base }}/user/history"><span class="glyphicon glyphicon-list"></span> {{ __('title_recent_history') }}</a></li>
								<li><a href="{{ req.base }}/logout"><span class="fg-err"><span class="glyphicon glyphicon-log-out"></span></span> {{ __('label_logout') }}</a></li>
							</ul>
						</li>
					</ul>
					{% else %}
					<form class="navbar-form navbar-right" method="post" action="{{ req.base }}/login" id="login-form">
						{{ filter('form_begin', 'login-form') |raw }}
						<div class="form-group">
							<input type="email" name="email" placeholder="{{ __('label_email') }}" value="{{ post.email }}" class="form-control" tabindex="1" required>
						</div>
						<div class="form-group">
							<input type="password" name="password" placeholder="{{ __('label_password_opt') }}" class="form-control hideaway hideaway-focus" tabindex="2">
						</div>
						<button type="submit" class="btn btn-success" tabindex="3">{{ __('label_login') }}</button>
					</form>
					{% endif %}
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ req.lang }} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/{% if 'fr' != req.default_lang %}fr/{% endif %}{{ req.path }}{{ req.query }}">Français</a></li>
								<li><a href="/{% if 'en' != req.default_lang %}en/{% endif %}{{ req.path }}{{ req.query }}">English</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{% if session.identified %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar hidden-print">
					<ul class="nav nav-sidebar">
						<li><a href="{{ req.base }}/"{% if req.path == '' %} class="active"{% endif %}><span class="glyphicon glyphicon-home"></span> {{ __('title_dashboard') }}</a></li>
						{% if pass('can_any', 'view', 'issue') %}
							<li><a href="{{ req.base }}/issues"{% if req.path starts with 'issues' %} class="active"{% endif %}><span class="glyphicon glyphicon-book"></span> {{ __('title_issues') }}</a></li>
						{% endif %}
						{% if pass('can_any', 'view', 'article') or pass('can_any', 'edit', 'article') or pass('has_role', 'peer') %}
							<li><a href="{{ req.base }}/articles"{% if req.path starts with 'articles' %} class="active"{% endif %}><span class="glyphicon glyphicon-align-left"></span> {{ __('title_articles') }}</a></li>
						{% endif %}
						{% if pass('can', 'move', 'article') or pass('has_role', 'editor') %}
							<li><a href="#collapseReports" data-toggle="collapse" data-target="#collapseReports" aria-controls="collapseReports" {% if req.path starts with 'admin/reports' %} class="active" aria-expanded="true"{% else %} aria-expanded="false"{% endif %}><span class="glyphicon glyphicon-folder-open"></span> {{ __('title_reports') }}<span class="caret"></span></a></li>
							<ul id="collapseReports" class="nav nav-second-level collapse{% if req.path starts with 'admin/reports' %} in{% endif %}">
								<li><a href="{{ req.base }}/admin/reports/activity"{% if req.path starts with 'admin/reports/activity' %} class="active"{% endif %}><span class="glyphicon glyphicon-stats"></span> {{ __('title_activity_report') }}</a></li>
								<li><a href="{{ req.base }}/admin/reports/editing"{% if req.path starts with 'admin/reports/editing' %} class="active"{% endif %}><span class="glyphicon glyphicon-stats"></span> {{ __('title_editing_report') }}</a></li>
							</ul>
						{% endif %}
						{% if pass('can', 'view', 'user') or pass('can', 'edit', 'user') %}
							<li><a href="{{ req.base }}/admin/users"{% if req.path starts with 'admin/users' %} class="active"{% endif %}><span class="glyphicon glyphicon-user"></span> {{ __('title_users') }}</a></li>
						{% endif %}
						{% if pass('can', 'view', 'role') %}
							<li><a href="{{ req.base }}/admin/roles"{% if req.path starts with 'admin/roles' %} class="active"{% endif %}><span class="glyphicon glyphicon-education"></span> {{ __('title_roles') }}</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		{% else %}
				<div class="container main">
		{% endif %}

			{% if req.status >= 400 %}
				<div class="jumbotron">
					{% if req.status == 404 %}
						<h1>{{ __('error_notfound_title') }}</h1>
						<p>{{ __('error_notfound_body') }}</p>
					{% elseif req.status == 403 %}
						{% if session.identified %}
							<h1>{{ __('error_denied_title') }}</h1>
							<p>{{ __('error_denied_body') }}</p>
						{% else %}
							{% if req.get.onetime %}
								<h1>{{ __('error_activation_title') }}</h1>
								<p>{{ __('error_activation_body') }}</h1>
							{% elseif req.post.email %}
								<h1>{{ __('error_login_title') }}</h1>
								<p>{{ __('error_login_body') }}</h1>
							{% else %}
								<h1>{{ __('title_welcome_to') }} {{ config.global.name }}!</h1>
							{% endif %}
								{{ block('welcome') }}
						{% endif %}
					{% elseif req.status == 440 %}
						{% if session.identified %}
							<h1>{{ __('error_duplicate_title') }}</h1>
							<p>{{ __('error_duplicate_body') }}</h1>
						{% else %}
							<h1>{{ __('error_expired_title') }}</h1>
							<p>{{ __('error_expired_body') }}</h1>
						{% endif %}
					{% elseif req.status == 449 %}
						<h1>{{ __('label_login') }}</h1>
						<p>{{ __('info_mailclick') }}</p>
					{% endif %}
				</div>
			{% endif %}
			{% if req.redirect %}
				{{ lib.alert(true, __('redirecting')) }}
			{% endif %}
			{% if req.warnings|length > 0 %}
				{% for warning in req.warnings %}
					{{ lib.warning(warning[0], warning[1], warning[2]) }}
				{% endfor %}
			{% endif %}
			{% if pass('no_fatal_warnings') %}
				{{ body |raw }}
			{% endif %}
			{{ stdout |raw }}

		{% if session.identified %}
				</div>
			</div>
		</div>
		{% else %}
			</div>
		{% endif %}


	</body>
</html>
{% endblock %}
