{% import 'lib' as lib %}
{% use 'blocks.html' %}
{{ title(__('title_outbox')) }}
{% if sent %}
	{% if success %}
		{{ lib.alert(success, __('send_success')) }}
	{% else %}
		{{ lib.alert(success, __('send_failure')) }}
	{% endif %}
{% endif %}

<h2 class="page-header">
	<span class="glyphicon glyphicon-envelope"></span> {{ __('title_outbox') }}
	{% if pass('has_role', 'admin') and not email %}
		<div class="pull-right">
			{% if all %}
				<a href="{{ req.base }}/outbox" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sunglasses fg-ok"></span> {{ __('label_not_all_users') }}</a>
			{% else %}
				<a href="{{ req.base }}/outbox/all" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-sunglasses fg-err"></span> {{ __('label_all_users') }}</a>
			{% endif %}
		</div>
	{% endif %}
</h2>

{% if not pass('can', 'edit', 'email') %}
	{% exit %}
{% endif %}

{% if not email %}
	{{ block('hint_outbox') }}
	{% include 'outbox_list.html' %}
{% endif %}

{% if email %}
	<form id="outbox_edit" method="post" class="form-tight">
		{{ filter('form_begin', 'outbox_edit') |raw }}
		{% if email.id %}
			<input type="hidden" name="id" value="{{ email.id }}">
		{% endif %}
		<div class="form-group">
			{{ lib.select_users(__('email_to'), 'recipient', email.recipients, true) }}
		</div>
		{% if email.ccs|length > 0 %}
			<div class="form-group">
				{{ lib.select_users(__('email_cc'), 'cc', email.ccs, true) }}
			</div>
			{% endif %}
		{% if email.bccs|length > 0 %}
			<div class="form-group">
				{{ lib.select_users(__('email_bcc'), 'bcc', email.bccs, true) }}
			</div>
		{% endif %}
		<div class="form-group">
			<input data-colsize="12" data-label="{{ __('label_subject') }}" type="text" id="subject" value="{{ email.subject }}" required>
		</div>
		<div class="form-group">
			<div class="input-block col-sm-12">
				<textarea name="html" class="rich-edit">{{ email.html }}</textarea>
			</div>
		</div>
		<button type="submit"><span class="glyphicon glyphicon-send fg-ok"></span> {{ __('label_send') }}</button>
	</form>
{% endif %}
