{% import 'lib' as lib %}
{{ title(__('password_reset')) }}
{% if inprogress %}

	{% if saved %}
		{% if success %}
			{{ lib.alert(success, __('password_changed')) }}
		{% else %}
			{{ lib.alert(success, __('password_unchanged')) }}
		{% endif %}
	{% else %}
		{% if not valid %}
			{{ lib.alert(false, __('password_invalid')) }}
		{% else %}
			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>{{ __('password_reset') }} 2/2</h2>
					</div>
					<div class="panel-body">
						<form class="form-leftright" method="post" id="password_change">
							{{ filter('form_begin', 'password_change') |raw }}
							<input type="hidden" name="email" value="{{ email }}">
							<input type="hidden" name="onetime" value="{{ onetime }}">
							<input data-label="{{ __('label_new_password') }}" type="password" id="newpassword1" minlength="8" maxlength="72">
							<input data-label="{{ __('label_again_password') }}" type="password" id="newpassword2" placeholder="{{ __('hint_again_password') }}" data-parsley-equalto="#newpassword1" data-parsley-validate-if-empty>
							<button type="submit">{{ __('label_changepassword') }}</button>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

{% else %}

	{% if emailed %}
		{{ lib.alert(true, __('password_emailed')) }}
	{% else %}
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>{{ __('password_reset') }} 1/2</h2>
				</div>
				<div class="panel-body">
					<form class="form-leftright" method="post" id="password_reset">
						{{ filter('form_begin', 'password_reset') |raw }}
						<p>{{ __('hint_password_reset') }}</p>
						<input data-label="{{ __('label_email') }}" type="email" id="email" placeholder="{{ __('hint_email') }}" maxlength="100" required>
						<button type="submit">{{ __('label_emailconfirm') }}</button>
					</form>
				</div>
			</div>
		</div>
	{% endif %}

{% endif %}
