{% import 'lib' as lib %}
{% use 'blocks.html' %}
{{ title(__('title_prefs')) }}
<h2 class="page-header"><span class="glyphicon glyphicon-cog"></span> {{ __('title_prefs') }}</h2>
{% if saved %}
	{% if success %}
		{{ lib.alert(success, __('save_success')) }}
	{% else %}
		{{ lib.alert(success, __('save_failure')) }}
	{% endif %}
	{% exit %}
{% endif %}

<div class="panel panel-primary">
	<div class="panel-heading">{{ __('title_config_info') }}</div>
	<div class="panel-body">
		{% include 'user_edit.html' %}
	</div>
</div>

{% if user.passwordHash == '*' %}
	{% exit %}
{% endif %}

<div class="panel panel-primary">
	<div class="panel-heading">
		{{ __('title_change_mail_password') }}
	</div>
	<div class="panel-body">
		<form id="user_passmail" method="post" class="form-leftright">
			{{ block('hint_user_mailpass_change') }}
			{{ filter('form_begin', 'user_passmail') |raw }}
			<input data-label="{{ __('label_email') }}" type="email" id="email" value="{{ user.email }}" required maxlength="100">
			<p>&nbsp;</p>
			<input data-label="{{ __('label_current_password') }}" type="password" id="password" required>
			<p>&nbsp;</p>
			<input data-label="{{ __('label_new_password') }}" type="password" id="newpassword1" minlength="8" maxlength="72" placeholder="{{ __('hint_new_password') }}">
			<input data-label="{{ __('label_again_password') }}" type="password" id="newpassword2" maxlength="72" placeholder="{{ __('hint_again_password') }}" data-parsley-equalto="#newpassword1" data-parsley-validate-if-empty>
			<button type="submit"><span class="fg-ok"><span class="glyphicon glyphicon-ok"></span></span> {{ __('label_save') }}</button>
		</form>
	</div>
</div>
