{% import 'lib' as lib %}
{% use 'blocks.html' %}
{{ title(__('title_users')) }}
{% if saved or added or deleted %}
	{% if success %}
		{{ lib.alert(success, __('save_success')) }}
	{% else %}
		{{ lib.alert(success, __('save_failure')) }}
	{% endif %}
{% endif %}

<h2 class="page-header"><span class="glyphicon glyphicon-user"></span> {{ user.name }}
	{% if not modal and pass('can', 'delete', 'user', user.id) %}
		<div class="pull-right col-sm-2">
			<form id="admin_user_ban" method="post" class="form-tight">
				{{ filter('form_begin', 'admin_user_ban') |raw }}
				<div class="input-block">
					{% if user.active %}
					<label for="ban">{{ __('hint_ban') }}</label>
						<button id="ban" class="form-control btn btn-default" name="ban" value="1"><span class="fg-err"><span class="glyphicon glyphicon-ban-circle"></span></span> {{ __('label_deactivate') }}</button>
					{% else %}
					<label for="unban">{{ __('hint_unban') }}</label>
						<button id="unban" class="form-control btn btn-default" name="unban" value="1"><span class="fg-ok"><span class="glyphicon glyphicon-ok-circle"></span></span> {{ __('label_activate') }}</button>
					{% endif %}
				</div>
			</form>
		</div>
	{% endif %}
</h2>

{% if pass('can', 'edit', 'user', user.id) %}

	{% include 'user_edit.html' %}

	<h3>{{ __('title_roles') }}</h3>

	<form id="admin_user_role" method="post" class="form-horizontal">
		{{ filter('form_begin', 'admin_user_role') |raw }}
		<div class="btn-group" role="group">
			{% for role in roles %}
				<button
					type="submit"
					name="{% if role in user_roles %}del{% else %}add{% endif %}role"
					value="{{ role }}"
					class="btn btn-{% if role in user_roles %}info active{% else %}default{% endif %}"
				>{{ lib.format_role(role, true) }}</button>
			{% endfor %}
		</div>
	</form>

	<h3>{{ __('label_permissions') }}</h3>

	<p>
		<form id="admin_user_acl_add" method="post" class="form-compact">
			{{ filter('form_begin', 'admin_user_acl_add') |raw }}
			<input type="hidden" name="f" value="add">
			<strong>{{ __('label_new_permission') }}:</strong>
			<select data-label="Action" id="action" required>
				<option selected disabled>{{ __('label_action') }}...
				<option value="*">* {{ __('label_any_action') }}
				{% for action in actions %}
					<option>{{ action }}
				{% endfor %}
			</select>
			<select data-label="Object Type" id="objectType" required>
				<option selected disabled>{{ __('label_type') }}...
				<option value="*">* {{ __('label_any_type') }}
				{% for objectType in objectTypes %}
					<option>{{ objectType }}
				{% endfor %}
			</select>
			<input data-label="Object ID" placeholder="Object ID" id="objectId">
			<button type="submit"><span class="fg-ok"><span class="glyphicon glyphicon-plus"></span></span> {{ __('label_add') }}</button>
		</form>
	</p>

	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>{{ __('label_action') }}</th>
					<th>{{ __('label_type') }}</th>
					<th>objectId</th>
					<th>{{ __('label_link') }}</th>
				</tr>
			</thead>
			<tbody>
				{% set aclDelNonce = filter('form_begin', 'admin_user_acl_del') %}
				{% for right in rights %}
				<tr>
					<td class="fit">
						{% if (role == 'admin' and right.action == '*') or (role == 'member' and right.action == 'login') %}
							&nbsp;
						{% else %}
							<form id="admin_user_acl_del" class="form-toolbar" method="post">
								{{ aclDelNonce |raw }}
								<input type="hidden" name="f" value="del">
								<input type="hidden" name="role" value="{{ role }}">
								<input type="hidden" name="action" value="{{ right.action }}">
								<input type="hidden" name="objectType" value="{{ right.objectType }}">
								<input type="hidden" name="objectId" value="{{ right.objectId }}">
								<button type="submit" class="btn btn-link fg-err"><span class="glyphicon glyphicon-minus"></span></button>
							</form>
						{% endif %}
					</td>
					<td class="fit">{% if right.action == '*' %}<em>{{ __('label_any_action') }}</em>{% else %}{{ right.action }}{% endif %}</td>
					<td class="fit">{% if right.objectType == '*' %}<em>{{ __('label_any_type') }}</em>{% else %}{{ right.objectType }}{% endif %}</td>
					<td class="fit">{% if right.objectId == 0 %}<em>{{ __('label_all') }}</em>{% else %}{{ right.objectId }}{% endif %}</td>
					<td>{{ lib.format(right.objectType, right.objectId) }}</td>
				</tr>
				{% endfor %}
				{% if rights|length == 0 %}
					<tr><td colspan="5"><em>{{ __('no_permission') }}</em></td></tr>
				{% endif %}
			</tbody>
		</table>
	</div>

	<h3>{{ __('title_login_link') }}</h3>
	{{ block('hint_login_link') }}
	<form id="admin_user_loginlink" method="post" class="form-horizontal">
		{{ filter('form_begin', 'admin_user_loginlink') |raw }}
		<button type="submit" name="user_loginlink" value="user_loginlink" class="btn btn-default">{{ __('title_login_link') }}</button>
	</form>

{% endif %}

{% if pass('can', 'view', 'user', user.id) %}
<h3>{{ __('title_recent_history') }}</h3>
	{% include 'history.html' %}
{% endif %}
